html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family:helvetica, arial,sans-serif;
}
nav {
  width:100%;
  height:83px;
  background-color: #3b5998;
  color: #fff
}

#title {
  font-size:40px;
  font-weight:bold;
  display: inline-block;
  /*margin-left:80px;*/
  margin-top:25px;
  float:left;
	width:55%;
	padding-left: 120px;
	box-sizing:border-box;
}
.sign-in {
  display: inline-block;
  font-size: 12px;
  /*margin-right:80px;
  */margin-top:30px;
  float:right;
	width:45%;
}

#pass-label {
  margin-left:110px;
}
#sign-in-email, #sign-in-password {
  margin-right:10px;
}

#log-in-button {
  background-color: #4267b2;
  border: rgb(41, 72, 125) solid 2px;
  color:#fff;
}

.left {
	float:left;
	width:55%;
}

h2 {
	font-size:28px;
	margin-bottom:20px;
}
ul {
	list-style-type: circle;
	margin-left:40px;
}
li {
	font-size:16px;
	margin-bottom:16px;
}

#left-list {
	margin-top:70px;
	margin-right:120px;
	float:right;
}

.right {
	float:right;
	width:45%;
}

h1 {
	font-size:32px;

}

#right-form {
	width:340px;
}

.half-form {
	width:159px;
}

.full-form {
	width:330px;
}

input[name="sign-up-button"] {
	background-color:green;
	color:white;
	border-color:black;
}
