html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family:helvetica, arial,sans-serif;
	background-color: #e9ebee;
	z-index: -5;
}
#sign-in-nav {
  width:100%;
  height:83px;
  background-color: #3b5998;
  color: #fff
}

#title {
  font-size:40px;
  font-weight:bold;
  display: inline-block;
  /*margin-left:80px;*/
  margin-top:25px;
  float:left;
	width:55%;
	padding-left: 120px;
	box-sizing:border-box;
}
.sign-in {
  display: inline-block;
  font-size: 12px;
  /*margin-right:80px;
  */margin-top:30px;
  float:right;
	width:45%;
}

#pass-label {
  margin-left:110px;
}
#sign-in-email, #sign-in-password {
  margin-right:10px;
}

#log-in-button {
  background-color: #4267b2;
  border: rgb(41, 72, 125) solid 2px;
  color:#fff;
}

#nav-bar-logo, #nav-bar-profile-pic {
	height:30px;
	width: 30px;
}

.left {
	float:left;
	width:55%;
}
a {
	text-decoration: none;
	cursor:pointer;
}
h2 {
	font-size:28px;
	margin-bottom:20px;
}
ul {
	list-style-type: circle;
	margin-left:40px;
}
li {
	font-size:16px;
	line-height: 50px;
}

#left-list {
	margin-top:70px;
	margin-right:120px;
	float:right;
}

.right {
	float:right;
	width:45%;
}

h1 {
	font-size:32px;
	margin-bottom:15px;
}

#right-form {
	margin-top:20px;
	width:340px;
	height:600px;
}

.half-form {
	width:159px;
}

.full-form {
	width:330px;
}

input[type="text"], input[type="email"], input[type="password"] {
	margin-bottom:15px;
	height:22px;
	font-size: 16px;

}

#birthday-text {
	margin-top:10px;
	font-weight: bold;
	margin-bottom:10px;
}

select option[data-default] {
	color: #888;
}

.birthday {
	margin-bottom:10px;
}

input[type="radio"] {
	margin-bottom:10px;
}

input[name="sign-up-button"] {
	background-color:green;
	color:white;
	border-color:black;
	height:30px;
	font-size:18px;
}

/*about page*/
.signed-in-nav {
	height:43px;
	width:100%;
	background-color: #3b5998;
  color: #fff
}

.nav-container {
	margin: 0 auto 0 auto;
	/*text-align: center;*/
	position: relative;
	left:10%;

}

.nav-container img{
	margin-top:7px;
	margin-right:5px;
}

.nav-right, .nav-left {
	display: inline-block;
}


.nav-search {
	display: inline-block;
	position: relative;
	top: -9px;
}
.nav-search input {
	height:25px;
	width:450px;
	margin-bottom: 0px;
}

.nav-search button {
	height:31px;
	width:35px;
	position:relative;
	left:-5px;
	top:7px;
}
.nav-right {
	margin-left: 11%;
}

.nav-links {
	/*text-decoration: none;
	color:#fff;
	font-size:14px;
	margin-right:10px;
	font-weight: normal;
	height:30px;
	background-color:green;
	line-height: 28px;*/
	transparent;
    color: inherit;
    display: inline-block;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    height: 27px;
    line-height: 28px;
    padding: 0 10px 1px;
    position: relative;
		bottom:12px;
    text-decoration: none;
    white-space: nowrap;
}

.main-container {
	width:80%;
	position: relative;
	left:10%;
}

.top-picture-menu {
	height:350px;
	width:850px;
	position:relative;

}

.cover-pic {
	height:315px;
	width:850px;
}

.cover-pic img{
		height:100%;
		width:100%;
}

h1.cover-name {
	position: absolute;
	bottom:50px;
	left:200px;
	font-size:24px;
	color:white;
}

.message {
	position:absolute;
	right:45px;
	bottom:68px;
	background-color: #f6f7f9;
	color:#4b4f56;
	width:72px;
	height:26px;
	padding-left:10px;
	padding-right:10px;
	line-height: 26px;
	border: 2px solid #ced0d4;
	border-radius: 2px;
}

.menu-buttons {
	height:43px;
	border-left: 1px solid #d3d6db;
	border-bottom: 1px solid #d3d6db;
	border-right: 1px solid #d3d6db;
	background-color: white;
}
.menu-nav-buttons {
	display:inline-block;
	position: relative;
	left:220px;
	right:0px;
	/*border-left:solid 1px rgb(233, 234, 237);
	height:100%;
	padding:0 17px;
	font-size:14px;
	font-weight:bold;
	line-height: 3.05;*/

}
#last-menu-button{
	border-right:solid 1px rgb(233, 234, 237);

}
.menu-nav-buttons a {
	text-decoration: none;
	box-sizing: border-box;
	border-left:solid 1px rgb(233, 234, 237);
	height:43px;
	padding: 17px;
	font-size:14px;
	font-weight:bold;
	line-height: 3.05;
}

.profile-pic  {
	height:168px;
	width:168px;
	position: absolute;
	bottom:10px;
	left:20px;
	background-color: white;

	border:solid 1px #b3b3b3;
	border-radius: 3px;
}

.profile-pic img {
	height:160px;
	width: 160px;
	position: relative;
	top:4px;
	left:4px;
}

.bottom-content {
	margin-top:18px;
	border:1px solid #d3d6db;
	width:850px;
}

.content-header-title {
	background-color: #f6f7f9;
	height:29px;
	padding-top:16px;
	padding-bottom:12px;
	border-bottom:solid 1px rgb(233,234,237);

}

.content-header-title h1 {
	font-size: 20px;
	font-weight: bold;
	color:#4b4f56;
	margin-left:22px;
}

.content-send-message {
	border-bottom:solid 1px rgb(233,234,237);
	padding:16px;
	background-color: white;
}
.content-send-message p {
	font-size:14px;
}

.main-about-content {
	background-color: white;
	display: flex;

}
.left-about {
	padding-bottom: 30px;
}
.right-about {
	width:325px;
	padding:30px 24px 0;
	border-left: 1px solid #ccc;

}
.left-about ul, .right-about ul{
	list-style-type: none;
	margin:0;
	padding:0;

}

.left-about a {
	display:block;
	padding: 12px 4px 12px 16px;
	font-size:14px;
	line-height: 18px;
	width:200px;
}

.right-about li {
	font-size:14px;
	line-height: 18px;
	padding-top:20px;
	padding-bottom:20px;
	border-top:1px solid #e9ebee;
}

.right-about li:first-child {
	border-top:none;
}


/*friend list*/

.friend-container {
	padding: 14px 14px 0 15px;
}

.friend-list {
	list-style-type: none;
	margin:0;
	padding:0;

}

.friend-list li {
	border: 1px solid #e9ebee;
	display:inline-block;
	margin: 0 0 13px 13px;
	padding: 0 10px 0 0;
	width:370px;
	position: relative;
}

.friend-element-container a{
	margin-right:10px;
	display:block;
	text-decoration: none;
	cursor:pointer;
	color:#365899;
	float:left;
	position: relative;
}

.friend-element-container a img {
	height:100px;
	width:100px;
	display: block;
}

.name-addFriend {
	overflow: hidden;
}

.add-friend {
	margin-top:20px;
	display:inline-block;
	float:right;
}

.friend-name-box {
	display: inline-block;
	vertical-align: middle;
}

.friend-name {
	margin-top: 20px;
	color: #333;
	font-weight: bold;
	font-size: 14px;
	height: 15px;
}

.friend-location {
	list-style-type: none;
	margin:0;
	padding:0;
}

.friend-location li {
	border-width:0;
	font-weight:normal;
	font-size:12px;
	color: #7f7f7f;
}
